target/
src/main/webapp/WEB-INF/classes
!.mvn/wrapper/maven-wrapper.jar
logs/
.vscode/

### STS ###
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

gen-external-apklibs/
/node_modules/*

### dubbo
dubboCache
dubboCache.lock
package-lock.json
package.json

swagger/

### emt4j
.emt4j/
report.html
alfred-chromium-workflow
